[project]
	description = The official documentation for the DCI project
[access "refs/*"]
  read = group dci-doc-core
  owner = group dci-doc-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group dci-doc-core
	label-Verified = -2..+2 group dci-doc-ptl
	label-Workflow = -1..+1 group dci-doc-core
	submit = group dci-doc-ptl
	read = group Registered Users
    read = group dci-doc-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group dci-doc-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
